.manual-input {
    margin-top: 20px;
}

.manual-input input {
    padding: 5px;
    font-size: 1em;
    margin-right: 10px;
}

.manual-input button {
    padding: 5px 10px;
    font-size: 1em;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    color: #fff;
}

.red-counter .manual-input button {
    background-color: #ff4c4c;
}

.blue-counter .manual-input button {
    background-color: #4c4cff;
}
